<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open   +Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- external css stylesheet-->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <h1>ADMIN PANEL</h1>
    <table>
        <tr>
            <th>Employee</th>
            <th>Date</th>
            <th>Tasks Completed</th>
            <th>Notes</th>
            <th>Signature</th>
        </tr>
        <%let currdate= null%>
        <% for (let i = 0; i < lists.length; i++) { %>
        <tr>
            <td>
                <%= lists[i].userName %>
            </td>
            <td>
                <%= lists[i].createdAt.toLocaleDateString() %>
            </td>
            <td>
                <ul>
                    <li>
                    <% if (lists[i].cleanBathroom == true) { %>
                        Cleaned Bathroom
                    <% } %>
                    </li>
                    <li>
                    <% if (lists[i].getCarts == true) { %>
                        Brought in Carts
                    <% } %>
                    </li>
                    <li>
                    <% if (lists[i].sweep == true) { %>
                        Swept
                    <% } %>
                    </li>
                    <li>
                    <% if (lists[i].closeRegister == true) { %>
                        Closed Register
                    <% } %>
                </li>
                </ul>
            </td>
            <td>
                <%= lists[i].notes %>
            </td>
            <td>
                <%= lists[i].signature %>
            </td>
        </tr>
        <% } %>

    </table>
    <a href="/todos">Back to Personal Todos</a>
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>