<!-- Include header -->
    <%- include('partials/_header') %>
<!-- /Include header -->
<body>
    <h1>Employee EOD Checklist</h1>
    <section class="loginAndSignupSection">
    <a href="/login" class="loginSignup" id="loginLink"> Login</a>
    <a href="/signup" class="loginSignup" id="signupLink"> Signup</a>
    </section>
<!-- Include footer -->
    <%- include('partials/_pagebottom') %>
<!-- /Include footer -->