<!-- Include header -->
<%- include('partials/_header') %>
<!-- /Include header -->
<body>
    <h1 class="login-panel-title">Log In Here</h1>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <form action="/login" method="POST" class="loginFields">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" class="button">
    </form>
        <a href="/" class="linkToHomepage"><span>Back to homepage</span></a>
<!-- Include footer -->
<%- include('partials/_pagebottom') %>
<!-- /Include footer -->