<!-- Include header -->
<%- include('partials/_header') %>
<!-- /Include header -->
<body>
    <h1 class="todosTitle">Closing List</h1>

    <form action="/todos/createTodo" method="POST" id="closing-list" onsubmit="return alert(`Task completion uploaded.`)">

        <label for="cleanBathroom">Cleaned Bathroom:</label>
            <select name="cleanBathroom">
                <option value="false">--Select an option--</option>
                <option value="true">Completed</option>
                <option value="false">Did not complete</option>
            </select>

        <label for="getCarts">Brought in Carts:</label>
            <select name="getCarts">
                <option value="false">--Select an option--</option>
                <option value="true">Completed</option>
                <option value="false">Did not complete</option>
            </select>

        <label for="sweep">Swept:</label>
            <select name="sweep">
                <option value="false">--Select an option--</option>
                <option value="true">Completed</option>
                <option value="false">Did not complete</option>
            </select>

        <label for="closeRegister">Closed Register:</label>
            <select name="closeRegister">
                <option value="false">--Select an option--</option>
                <option value="true">Completed</option>
                <option value="false">Did not complete</option>
            </select>

        <label for="notes">Notes:</label>
            <input type="text" name="notes" placeholder="If you were unable to complete any tasks please write down why" value="" id="notes">

        <label for="signature">Signature:</label>
            <input type="text" name="signature" placeholder="Please sign your name" required value="" id="signature">

            <input type="hidden" name="userName" value="<%= user.userName %>">

        <button id="form-submit" type="submit" class="button uploadButton">Upload</button>

    </form>


    <!-- admin panel link -->
    <% if (user.isAdmin) { %>
    <a href="/adminpanel" class="adminPanelLink">Manager Panel</a>
    <%} else {%>
        <a href="/apply" class="adminPanelLink">Apply for Manager Privileges</a>
    <% } %>
    <span class="logoutLink"><a href="/logout">Logout</a></span>

<!-- Include footer -->
<%- include('partials/_pagebottom') %>
<!-- /Include footer -->