<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open   +Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <!-- external css stylesheet-->
    <link href="/css/style.css" rel="stylesheet">
    <title><%= user.userName %>'s ToDos</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1 class="todosTitle">Todos</h1>

    <form action="/todos/createTodo" method="POST" id="closing-list" onsubmit="return alert(`Task completion uploaded.`)">

        <label for="cleanBathroom">Cleaned Bathroom:</label>
            <select name="cleanBathroom">
                <option value="false">--Select an option--</option>
                <option value="true">Completed</option>
                <option value="false">Did not complete</option>
            </select>

        <label for="getCarts">Get Carts:</label>
            <select name="getCarts">
                <option value="false">--Select an option--</option>
                <option value="true">Completed</option>
                <option value="false">Did not complete</option>
            </select>

        <label for="sweep">Swept:</label>
            <select name="sweep">
                <option value="false">--Select an option--</option>
                <option value="true">Completed</option>
                <option value="false">Did not complete</option>
            </select>

        <label for="closeRegister">Close Register:</label>
            <select name="closeRegister">
                <option value="false">--Select an option--</option>
                <option value="true">Completed</option>
                <option value="false">Did not complete</option>
            </select>

        <label for="notes">Notes:</label>
            <input type="text" name="notes" placeholder="If you were unable to complete any tasks please write down why" value="" id="notes">

        <label for="signature">Signature:</label>
            <input type="text" name="signature" placeholder="Please sign your name" required value="">

        <button id="form-submit" type="submit" class="button">Upload</button>

    </form>


    <!-- admin panel link -->
    <% if (user.isAdmin) { %>
    <a href="/adminpanel">Admin Panel</a>
    <%} %>

    <span class="logoutLink"><a href="/logout">Logout</a></span>

    <script src="js/main.js"></script>
</body>
</html>