<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.userName %>'s ToDos</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>

    <form action="/todos/createTodo" method="POST" id="closing-list" onsubmit="return alert(`Task completion uploaded.`)">

        <label for="cleanBathroom">Cleaned Bathroom:</label>
        <input type="text" name="cleanBathroom" value="" placeholder="please sign your name">

        <label for="getCarts">Get Carts:</label>
        <input type="text" name="getCarts" value="" placeholder="please sign your name">

        <label for="sweep">Get Carts:</label>
        <input type="text" name="sweep" value="" placeholder="please sign your name">

        <label for="closeRegister">Close Register:</label>
        <input type="text" name="closeRegister" value="" placeholder="please sign your name">

        <button id="form-submit" type="submit">Upload</button>

    </form>


    <!-- admin panel link -->
    <% if (user.isAdmin) { %>
    <a href="/adminpanel">Admin Panel</a>
    <%} %>
    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>